.page {
	width: 1440px;
}

h1 {
	font-family: sans-serif;
	font-size: 20px;
	margin: 0px;
	line-height: 20px;
}

* {
	box-sizing: border-box;
}

.header {
	height: 60px;
	background-color: #FE1A19;
	position: relative;
}

.header-container {
	color: #FFFFFF;
	display: inline-block;
	margin-top: 20px;
	margin-left: 20px;
}

.content {
	padding: 52px 70px;
	font-size: 0;
}

.column {
	width: 400px;
	height: 800px;
	border: 5px solid #E5E000;
	border-radius: 30px;
	display: inline-block;
	font-size: 20px;
	vertical-align: top;
	padding: 33px 33px; 
}

.second {
	margin-left: 50px;
	margin-right: 50px;
}

.recipe {
	height: 23px;
	display: inline-block;
}

.components {
	display: inline-block;
	margin-top: 41px;
}

.components ul {
	margin-top: 0px;
	padding: 0px;
}

.components li {
	list-style-type: none;
}

.footer {
	height: 60px;
	background-color: #FE1A19;
	position: relative;
}

.footer-container {
	color: #FFFFFF;
	display: inline-block;
	margin-top: 20px;
	margin-left: 20px;
}
