:root {
	--bgc-clr: #FEB700;
	--main-txt-size: 2rem;
	--headfoot-txt-size: 5rem;
	--headfoot-hght: 16rem;
	--margin-t: 3rem;
}

* {
	box-sizing: border-box;
	margin: 0;
}

html {
	font-size: .8vw;
}

body {
	font-family: "Times New Roman";
}

.header {
	height: var(--headfoot-hght);
	background-color: var(--bgc-clr);
	display: flex;
}

.header-container {
	margin: auto;
}

.header-container h1 {
	font-size: var(--headfoot-txt-size);
	font-weight: normal;
}

.main-content {
	padding: 7rem;
	display: flex;
	justify-content: space-between;
}

section {
	height: 100%;
	width: calc((100% - 100px)/3);
	border: 1px solid #000000;
}

img {
	width: 100%;
}

.description {
	margin: 3rem 3.3rem;
	font-size: var(--main-txt-size);
}

.description ul {
	list-style-type: none;
	margin-top: var(--margin-t);
	padding-left: 0;
}

.description h2 {
	font-size: var(--main-txt-size);
}

.description p {
	margin-top: var(--margin-t);
}

.footer {
	height: var(--headfoot-hght);
	background-color: var(--bgc-clr);
	display: flex;
}

.footer-container {
	margin: auto;
}

.footer-container p {
	font-size: var(--headfoot-txt-size);
}